
@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<input type="text" id="txtTitle" />
<textarea id="txtBody" rows="5" cols="5"></textarea>
<button id="btnCreate">Create</button>
<button id="btnClose">Close</button>

<label id="lblError"></label>
<label id="lblInformation"></label>

<link rel="stylesheet" href="~/css/mini.min.css">

<script src="~/lib/WiMi.js"></script>
<script src="~/lib/http.js"></script>
<script src="~/lib/peper.js"></script>
<script src="~/js/src/Pages/indexPresenter.js"></script>
<script language="javascript">
    WiMi.Pages.Index.createIndexPresenter();
</script>

