
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<link rel="stylesheet" href="~/css/mini.min.css">*@

<script src="~/lib/WiMi.js"></script>
<script src="~/lib/http.js"></script>
<script src="~/lib/peper.js"></script>
<script src="~/js/src/Pages/Index/presenter.js"></script>
<script language="javascript">
    WiMi.Pages.Index.createPresenter();
</script>
