
@{
    ViewData["Title"] = "Index";
}


@*<link rel="stylesheet" href="~/css/mini.min.css">*@

<h2>Index</h2>
<a id="btnNew">New Page</a>
<ul id="lstPage"></ul>
<label id="lblError"> </label>
<div id="spinner" style="display:none"><img src="~/images/spinner.gif" /></div>

<script src="~/lib/WiMi.js"></script>
<script src="~/lib/http.js"></script>
<script src="~/lib/peper.js"></script>
<script src="~/js/src/Pages/Index/presenter.js"></script>
<script language="javascript">
    WiMi.Pages.Index.createPresenter();
</script>

@*<link rel="stylesheet" href="~/css/mini.min.css">*@

<script src="~/lib/WiMi.js"></script>
<script src="~/lib/http.js"></script>
<script src="~/lib/peper.js"></script>
<script src="~/js/src/Pages/Index/presenter.js"></script>
<script language="javascript">
    WiMi.Pages.Index.createPresenter();
</script>
