
<br/>
<br />
<div>
    <input type="text" id="txtEmail">
    <input type="text" id="txtPassword">
    <a id="btnLogin">Login</a>
</div>

<label id="lblMessage"></label>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Login/Index/Presenter.js"></script>

<script type="text/javascript">
    createPresenter();
</script>